@font-face {
  font-family: "iconfont"; /* Project id 3614292 */
  src: url('//at.alicdn.com/t/c/font_3614292_38u0hi2r1bh.woff2?t=1661605134450') format('woff2'),
       url('//at.alicdn.com/t/c/font_3614292_38u0hi2r1bh.woff?t=1661605134450') format('woff'),
       url('//at.alicdn.com/t/c/font_3614292_38u0hi2r1bh.ttf?t=1661605134450') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weipingjia:before {
  content: "\e632";
}

.icon-xiaoxi:before {
  content: "\e644";
}

.icon-quanbu:before {
  content: "\e650";
}

.icon-mn_dunpai_fill:before {
  content: "\e600";
}

.icon-richeng:before {
  content: "\e621";
}

.icon-zhexiantu:before {
  content: "\ec66";
}

.icon-shouru:before {
  content: "\e64d";
}

.icon-tongzhi:before {
  content: "\e69b";
}

.icon-wodezhanghu:before {
  content: "\e639";
}

.icon-zhaokecheng:before {
  content: "\e618";
}

.icon-shipin:before {
  content: "\e614";
}

.icon-xueshengliebiao:before {
  content: "\e68c";
}

.icon-score:before {
  content: "\e642";
}
